<!DOCTYPE html>
<html>

<head>
    <title>eShop on VUEjs</title>
    <style>
        .card {
            text-align: center;
            width: 200px;
            height: 150px;

            background-color: rgb(224, 222, 222);
        }

        .cart {
            padding: 20px;
            position: fixed;
            right: 0;
            top: 50px;
            background: rgb(241, 241, 241);
            width: 500px;

        }

        .closeCart {
            position: fixed;
            top: 55px;
            right: 5px;
        }

        .catalog {
            margin-top: 20px;
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <div id="app">

        <header>



            <div class="cart" v-show="cartIsVisible"> КОРЗИНА:
                <div v-for="good in cart" :key="good.id_product">
                    <div class="cart_item">{{ good.product_name }} {{ good.price }} {{ good.count }}</div>

                </div>

                <button class="closeCart" @click="cartIsVisible = false">x</button>
            </div>


        </header>
        <main>

            <button type="button" @click="findGood">Показать каталог</button>
            <button type="button" @click="cartIsVisible = true">Корзина</button>
            <input v-model="text" @input="findGood" placeholder="введите название товара.." />

            <div class="catalog">
                <div v-for="good in foundGoods" :key="good.id_product" class="card">

                    <p>{{ good.product_name }}</p>
                    <p>{{ good.price }}</p>
                    <button @click="addToCart(good)">добавить в корзину</button>
                </div>
            </div>

        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        const API_URL = 'https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses/';
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    goods: [],
                    foundGoods: [],
                    text: '',
                    cartIsVisible: false,
                    cart: [],
                }
            },
            methods: {
                fetchRequest(url, callback) {
                    let xhr = new XMLHttpRequest();

                    xhr.onreadystatechange = () => {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            callback(xhr.responseText);
                            this.goods = JSON.parse(xhr.responseText);
                        }
                    };
                    xhr.open('GET', url);
                    xhr.send();
                },
                findGood() {

                    const goods = this.goods.filter(({ product_name }) => {
                        return product_name.toLowerCase().match(this.text.toLowerCase());
                    });
                    this.foundGoods = goods;
                },
                addToCart(product) {
                    const p = this.cart.find(item => item.id_product === product.id_product);
                    if (p) {
                        p.count++;
                    }
                    else {
                        this.cart.push({
                            product_name: product.product_name,
                            id_product: product.id_product,
                            count: 1
                        });
                    }

                    console.log(this.cart);
                },

            },
            mounted() {

                this.fetchRequest(`${API_URL}/catalogData.json`,
                    (goods) => {
                        this.goods = goods;
                        console.log(this.goods);
                    }
                );

            }
        });

    </script>
</body>

</html>